data/dem_tweets_full.csv
data/dem_tweets.csv
data/election-context-2018.csv
data/tweet_data/*
.DS_Store
*.gensim.*
*.gensim
*.id2word
*.pkl
*.state
*.npy
.ipynb_checkpoints
*_tweets.csv
*_tweets_cleaned.csv
